{% extends "index.html" %}
{% block content %}
    <h3>Задачи на экспертизу компьютерной техники</h3>
    <p class="description">
        Ниже представлен список задач. Каждой заявке присвоен порядковый номер.
        Для сортировки таблицы, щелкните по заголовку столбца.
    </p>

    <form method="POST" action="/process_tasks/">
    {% csrf_token %}
    <table class="data">
        <tr>
            <th><input type="checkbox" id="select-all" /></th>
            <th class="sortable numeric">№</th>
            <th>Оборудование</th>
            <th class="sortable">Статус</th>
            <th>Действия</th>
        </tr>
        {% for t in tasks %}
            <tr id="{{ t.pk }}">
                <td><input type="checkbox" name="task" value="{{ t.pk }}" /></td>
                <td><a href="/task/{{ t.pk }}">{{ t.pk }}</a></td>
                <td>
                    <ol>
                    {% for r in t.request_set.all %}
                        <li>{{ r.device }} (<a href="/user_requests/{{ r.user.pk }}">{{ r.user }}</a>)</li>
                    {% endfor %}
                    </ol>
                </td>
                <td><select class="status" size="1">
                    {% for s in t.STATUSES %}
                    <option value="{{ s.0 }}" {% ifequal t.status s.0 %}selected{% endifequal %}>
                        {{ s.1 }}
                    </option>
                    {% endfor %}
                </select></td>
                <td>
                    <a class="task_doc" id="{{ t.pk }}" href="javascript:void(0);">
                        <img src="/media/images/document.png" alt="Акт осмотра" title="Акт осмотра"/>
                    </a>
                    <a href="/print/task/{{ t.pk }}">
                        <img src="/media/images/printer.png" alt="Print" title="Напечатать эту задачу" />
                    </a>
                    <img src="/media/images/spinner.gif" alt="wait plaese..." id="spinner-{{ t.pk }}" class="spinner"/>
                </td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="5">Задач не найдено</td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="action" value="none" id="action"/>
    <input type="button" name="delete" id="delete" value="Удалить"/>
    <span class="button-message">Выберите строки для удаления!</span>
    </form>
    <iframe width="1" height="1" src="" id="down"></iframe>
{% endblock %}
