<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="ru">
    <title>{{ title }} | {{ app_name }}</title>

    <link type="text/css" rel="stylesheet/less" href="{{ media_url }}css/base.less" />
    <script type="text/javascript" src="{{ media_url }}js/less.js"></script>
    
    <script type="text/javascript" src="{{ media_url }}js/right.js"></script>
    <script type="text/javascript" src="{{ media_url }}js/right-table.js"></script>

    <script type="text/javascript" src="{{ media_url }}js/right-autocompleter.js"></script>
    <script type="text/javascript" src="{{ media_url }}js/app.js"></script>

</head>
<body>
