{% extends "index.html" %}
{% block content %}
    <h3>Заявки пользователя на экспертизу компьютерной техники</h3>
    <p class="description">
        Ниже представлен список заявок поданных пользователем <b>"{{ user.fio }}"</b>. Каждой заявке присвоен порядковый номер.
        Заявки разбиты по группам: заявки которые добавлены в задачу на списание и находятся в работе;
        заявки которые не добавлены в задачу;
    </p>

    <h4>Отдельные заявки</h4>
    <form method="POST" action="/process_requests/">
    {% csrf_token %}
    <table class="data">
        <tr>
            <th><input type="checkbox" id="select-all" /></th>
            <th class="sortable numeric">№</th>
            <th class="sortable">Инв. номер</th>
            <th class="sortable">Устройство</th>
            <th class="sortable">Год поступления</th>
            <th class="sortable">Статус</th>
            <th>Действия</th>
        </tr>
        {% for r in requests %}
            <tr>
                <td><input type="checkbox" name="request" value="{{ r.pk }}" /></td>
                <td>{{ r.pk }}</td>
                <td>{{ r.number }}</td>
                <td>{{ r.device }}</td>
                <td>{{ r.year }}</td>
                <td>
                    {{ r.get_status }}{% if r.deleted %} (удалена){% endif %}
                </td>
                <td>
                    <a href="/comments/{{ r.pk }}/">
                        <img src="/media/images/comment.png" alt="Добавить комментарий" title="Добавить комментарий" />
                    </a>
                </td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="6">Заявок не найдено</td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="action" value="none" id="action"/>
    <input type="button" name="new_task" id="new_task" value="Создать задачу"/>
    <span class="button-message">Выберите строки для удаления!</span>
    </form>

    <h4>Заявки в работе:</h4>
    <table class="data">
        <tr>
            <th class="sortable numeric">№</th>
            <th class="sortable">Инв. номер</th>
            <th class="sortable">Устройство</th>
            <th class="sortable">Год поступления</th>
            <th class="sortable">Пользователь</th>
            <th class="sortable">Статус</th>
            <th>Действия</th>
        </tr>
        {% for r in requests_in_tasks %}
            <tr>
                <td>{{ r.pk }}</td>
                <td>{{ r.number }}</td>
                <td>{{ r.device }}</td>
                <td>{{ r.year }}</td>
                <td>{{ r.user.fio }} [{{ r.user.cabinet }}]</td>
                <td>{{ r.get_status }}</td>
                <td>
                    <a class="doc" id="{{ r.pk }}" href="javascript:void(0);">
                        <img src="/media/images/document.png" alt="Сгенерировать тех. заключение" title="Сгенерировать тех. заключение"/>
                    </a>
                    <img src="/media/images/spinner.gif" alt="wait plaese..." id="spinner-{{ r.pk }}" class="spinner"/>
                </td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="7">Заявок не найдено</td>
        </tr>
        {% endfor %}
    </table>
    <i>* Для удаления заявки находящейся в работе необходимо удалить ее из задачи.</i>
    <iframe width="1" height="1" src="" id="down"></iframe>
{% endblock %}
